body{
    background: rgb(30, 37, 43);
    font-family: poppins;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1224px;
    margin: 0 auto;
}
.header{
    padding-top: 26px;
    padding-bottom: 58px;
}
.header-wrap{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.header-logo{
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: auto;
}
.nav-list{
    font-size: 16px;
    display: flex;
    gap: 45px;
}

.auth-list{
    font-size: 16px;
    display: flex;
    gap: 10px;
    margin-left: auto;
}
.nav-list-item,.nav-list-item-2{
    color: rgba(255, 255, 255, 0.78);
    display: flex;
}
.auth-list-btn{
    background-color: rgb(30, 37, 43);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    color: rgba(255, 255, 255, 0.78);
}
.auth-list-btn-2{
    background-color: rgba(255, 110, 48, 1);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid rgba(255, 110, 48, 1);
    border-radius: 10px;
    color: white;
}
.hero-title{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}
.hero-title-span{
    color: orange;
}
.hero-desc{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 60px;
}
.hero-form-btn{
    font-size: 16px;
}
.hero-form-input{
    background-color: rgba(40, 48, 54, 1);
    width: 227px;
}
.tools-title{
    font-size: 48px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 200px;
}
.tools-desc{
    font-size: 18px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
}




.tools-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 110px;
}

.tools-list-item{
    max-width: 392px;
    height: 294px;
    border-radius: 15px;
    padding-top: 33px;
    padding-left: 33px;
    padding-right: 33px;
    transition: all 0.3s ease;
}
.tools-list-item:hover{
    background-image: url(/img/tools-list-hover.png);
    padding-top: 33px;
    padding-left: 33px;
    padding-right: 33px;
    transform: scale(1.1);
}

.tools-list-wrap{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.tools-list-title{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.78);
    margin-bottom: 3px;
}

.tools-list-desc{
    font-size: 18px;
    color: rgba(255, 165, 55, 0.55);
}

.tools-list-desc-2{
    max-width: 326px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}

.tools-list-sublist-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.tools-list-sublist{
    display: flex;
    gap: 12px;
}
.tools-list-btn{
    width: 106px;
    height: 42px;
    border-radius: 8px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
    background: none;
    border-style: none;
}
.tools-list-btn:hover{
    border-style: none;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 110, 48, 1);
}
.tools-btn{
    font-size: 20px;
    background-color: rgb(30, 37, 43);
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-radius: 6px;
    color: rgba(255, 110, 48, 1);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 38px;
    padding-right: 38px;
    display: block;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 30px;
}
.brand-title{
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 55px;
}
.brand{
    padding-top: 55px;
    padding-bottom: 55px;
    background-image: url(img/brands-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.brand-list{
    display: flex;
    gap: 107px;
    padding-left: 82px;
    padding-right: 82px;
}
.newcomer-title{
    font-size: 48px;
}
.newcomer-desc{
    font-size: 18px;
}
.newcomer-btn{
    font-size: 18px;
    background-color: rgba(255, 110, 48, 1);
    color: white;
}
.newcomer-list-title{
    font-size: 24px;
}
.newcomer-list-desc{
    font-size: 18px;
}
.newcomer-list-desc-2{
    font-size: 14px;
}
.newcomer-list-btn{
    font-size: 16px;
}
.testimonial-team-title{
    font-size: 26px;
}
.testimonial-team-desc{
    font-size: 16px;
}
.testimonial-team-desc-2{
    font-size: 14px;
}
.join-title{
    font-size: 48px;
    display: flex;
    justify-content: center;
    color: white;
}
.join-desc{
    font-size: 18px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.55);
    margin-top: 25px;
    text-align: center;
}
.join-wrap-btn{
    background-color: rgba(255, 110, 48, 1);
    color: white;
    font-size: 16px;
}
.footer-logo{
    font-size: 22px;
}
.footer-wrap-about-desc{
    font-size: 16px;
}
.footer-wrap-about-desc-2{
    font-size: 14px;
}
.footer-wrap-contact-title{
    font-size: 20px;
}
.address-list-link{
    font-size: 16px;
}
.footer-wrap-categories-title{
    font-size: 20px;
}
.footer-wrap-categories-desc{
    font-size: 16px;
}
.footer-wrap-info-title{
    font-size: 20px;
}
.footer-wrap-info-list-link{
    font-size: 16px;
}
input{
    background-color: rgb(30, 37, 43);
}
.hero{
    padding-top: 104px;
    background-image: url('img/header-right.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.hero-form{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 497.66px;
    height: 64px;
    border-radius: 15px;
    border: 1.5px solid rgba(50,58,63,1.00);
    background-color: rgba(40, 48, 54, 1);
    padding: 8px 11px 8px 18px;
    text-align: center;
}
.hero-form::before{
    width: 24px;
    height: 24px;
    content: "";
    display: inline-block;
    background-image: url('img/search.png');
    background-repeat: no-repeat;
}
.hero-wrap-text::placeholder{
    font-size: 14px;
    color:rgba(255, 255, 255, 0.38);
}
.hero-form-btn{
    width: 130px;
    height: 48px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 110, 48, 1);
    margin-left: auto;
}
.socials-list{
    display: flex;
    margin-top: 110px;
}





.dropdown{
    min-width: 130px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    background-color: rgb(30, 37, 43);
    opacity: 0;
    visibility: visible;
    transition: 0.2s ease-in-out;
}
.nav-list-item-2:hover .dropdown{
    opacity: 1;
    top: 60px;
    visibility: visible;
}
.dropdown a{
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 110, 48, 1);
    padding-bottom: 10px;
}
.nav-list-span{
    color: rgba(255, 110, 48, 1);
}